<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clinica Unialfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand fw-bold" href="#">Clínica Unialfa</a>
        <div class="nome-paciente">Guilherme Barros</div>
      </div>
        <div class="d-flex">
          <a href="{{ url_for('user.user') }}" class="btn btn-light btn-sm">Sair</a>
        </div>
    </nav>
        <div class="container my-5">
      <h2 class="text-center mb-4">Painel da Paciente</h2>
      <p class="text-center text-muted mb-5">Verifique suas informações e agendamentos.</p>
  </body>
</html>